* {
    font-family: Verdana, sans-serif;
}
html {
    background-color: rgb(170,170,255);
}
h1 {
    font-size: 50px;
    color: rgb(255,255,255);
}
h2 {
    font-size: 30px;
}
p, li{
    font-size: 20px;
}

#title {
    text-align: center;
}

.indextitle {
    font-size: 75px;
}


#description_text {
    color: rgb(0, 255, 119);
}

#ingredients_text {
    color: rgb(0, 119, 255);
}

#steps_text {
    color: rgb(255, 0, 119);
}

#description_div, #ingredients_div, #steps_div {
    margin: 20px auto;
    padding: 5px 25px; 
}

#description_div {
    border: 2px dotted rgb(0, 255, 119);
}

#ingredients_div {
    border: 2px dotted rgb(0, 119, 255);
}

#steps_div {
    border: 2px dotted rgb(255, 0, 119);
}


#home_page_list {
    text-align: center;
    list-style-type: none;
}




a {
    color: rgb(50,50,255);
    font-weight: bold;
}
.peposa, .baked, .bibi {
    font-size: 40px;
    border: 10px solid rgb(110,110,255);
    text-decoration: none;
}

.peposa {  
    padding: 20px;
}
.baked {
    padding: 20px;
}
.bibi {
    padding: 20px;
}
#home_page_options {
    margin-top: 100px;
}

#home_page_list li {
    display: inline-block;
    margin: 35px 10px;
}


